@model IEnumerable<AppProductos.Models.Producto>
@{
    ViewData["Title"] = "Products page";
}

<h2>Lista de Productos</h2>
<a href="/Product/Add" class="funcion">Agregar Producto</a>

<form method="get" class="form">
    <input type="text" name="searchTerm" value="@ViewBag.SearchTerm" placeholder="Buscar Producto" />
    <button type="submit">Buscar</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th class="secciones">Nombre</th>
            <th class="secciones">Descripción</th>
            <th class="secciones">Precio</th>
            <th class="secciones">Categoría</th>
            <th class="secciones">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var producto in Model)
        {
            <tr>
                <td class="datos">@producto.Nombre</td>
                <td class="datos">@producto.Descripcion</td>
                <td class="datos">@producto.Precio</td>
                <td class="datos">@producto.Categoria</td>
                <td class="datos">
                    <a href="/Product/Edit/@producto.Id" class="acciones">Editar</a>
                    <a href="/Product/Delete/@producto.Id" class="acciones">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        @for (int i = 1; i <= ViewBag.TotalPaginas; i++)
        {
            <li class="page-item"><a class="page-link" href="/Product?pagina=@i&searchTerm=@ViewBag.SearchTerm">@i</a>
            </li>
        }
    </ul>
</nav>