@model AppProductos.Models.Producto
@{
    ViewData["Title"] = "Products page";
}

<h2>Lista de Productos</h2>
<a href="/Home/AddProduct" class="funcion">Agregar Producto</a>
<a href="/Home/Products" class="funcion">Ver Todos</a>

<form method="get" asp-action="ProductId" class="form">
    <label for="id">ID del Producto:</label>
    <input type="number" id="id" name="id" required>
    <button type="submit">Buscar</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th class="secciones">Nombre</th>
            <th class="secciones">Descripción</th>
            <th class="secciones">Precio</th>
            <th class="secciones">Categoría</th>
            <th class="secciones">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            <tr>
                <td class="datos">@Model.Nombre</td>
                <td class="datos">@Model.Descripcion</td>
                <td class="datos">@Model.Precio</td>
                <td class="datos">@Model.Categoria</td>
                <td class="datos">
                    <a asp-action="UpdateProduct" asp-route-id="@Model.Id" class="acciones">Actualizar</a>
                    <form asp-action="DeleteProduct" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@Model.Id" />
                        <button type="submit" class="acciones">Eliminar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>